@use '../settings/variables';

.c-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 35vw;
  height: 100vh;

  background-color: variables.$accent-color-transparent;
  visibility: hidden;
}